-b -{{dexterityMod}} -b {{spell-dexterityMod}} -f "Blaster Calibration|A simple blaster you are holding is calibrated by linking it to your techcasting focus. For the duration, you can use your techcasting ability instead of Dexterity for the attack and damage rolls of ranged attacks using that blaster, and the blaster’s damage die becomes a d6. The damage die does not change if the blaster deals ion damage. The blaster also becomes enhanced, if it isn’t already, and you become procient with it, if you aren’t already. The ower ends if you cast it again or if you let go of the blaster."