<drac2>
phrase = "Force Intuition|Your senses attune to your environment for the duration, allowing you to see things before they happen, and react even faster than normal. For the duration, you can use your forcecasting ability modifier in place of your Dexterity modifier when you make initiative checks, if the check doesn’t already include that modifier."
mod = "wis" if wisdomMod >= charismaMod else "cha"
return f'''{mod} -f "{phrase}"'''
</drac2>