-d 1d6 -f "Hatred|For the duration of this power, you add 1d6 to your attack rolls against the creature that attacked you. If another creature that you can see within 60 feet damages you during the duration of this power, you can use your reaction to target it and gain the bonus against that creature instead."