-d {{max(charismaMod//2, 1)}} -f "In the Spotlight|You can overwhelm an opponent with your unique blend of skill and style. As a bonus action, you can choose one creature you can see within 30 feet of you. The target is marked for 1 minute. While the target is marked, you gain the following benefits:

You can add half your Charisma modifier (minimum of one) to any weapon damage roll you make against the marked target that doesn’t already include that modifier.
Your critical hit range against the marked target increases by 1.
If the marked target is reduced to 0 hit points, you regain hit points equal to your fighter level + your Charisma modifier (minimum of 1).
This effect ends early if you’re incapacitated or die. Once you’ve used this feature, you can’t use it again until you finish a short or long rest."